/* * {
    border: 1px solid black; 
} */



.hero {
    width: 100%;
    height: 80px;
    text-align: center;
    padding: 20px;
    font-size: 40px;
    background-image: linear-gradient(to right, navy, aqua);
    color:white;
    
}

.body-container {
    width:100%;
    display: flex;
    flex-wrap: wrap;
    height: 800px;
}

.left-panel {
    width:30%;
    padding-left: 20px;
}

.search-panel {
    border-bottom: 2px dotted black;
    padding-bottom: 20px;
    width: 100%;
    height: 200px;
}

.search-panel h2 {
    font-size:25px;
    width: 100%;
    padding: 20px 20px 20px 0px;
}


.search-history {
    width: 100%;
    padding-top:10%;
}

.input {
    width:100%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#search-button {
    width:100%;
    height:40px;
    margin-bottom: 10px;
    background-image: linear-gradient(to right, navy, aqua);
    color:aliceblue;
}   

button:hover {
    background-image: none;
    background-color:navy;
}

/* .display-button {
    width:100%;
    height:40px;
    margin-bottom: 10px;
} */

.right-panel {
    width: 65%;
    padding-left:30px;

}

.city-display {
    width: 100%;
    border: 2px solid black; 
    padding: 20px;
    margin-top: 30px;
}

li button {
    width:100%;
    height:40px;
    margin-bottom: 10px;
    background-image: linear-gradient(to right, navy, aqua);
    color:aliceblue;
}
.card {
    background-color: navy;
    color: white;
    padding: 5%;
    margin: 20px;
}

.forecast-item {
    display: flex;
    flex-wrap: wrap;
}
.forecast-display {
    margin-top: 30px;
}

.forecast-display h3 {
    font-size: 30px;
}